.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0; // This will remove that unnecessary pinkish stuff around the container
    max-width: 100%; // So as to not limit container growth
  }
}

.header {
  font-size: 1.4rem; // All children will also have this inherited, except for input. Need to explicitly inherit there

  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around; // this controls the row spacings
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column; // Sidebar will go up below the header
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // We want it to take just 18% of screen size

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1; // Grow & shrink as much as can
}

.detail {
  font-size: 1.4rem; // All elements inside will inherit

  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  // Always go from higher MQ to lower MQ
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // When using % value, we set others to 0
  margin-right: 4.5rem; // Same as the parent's padding

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem; // Same as the parent's padding
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1; // Occupies remaining space
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}
